@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.QuemSomos {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(255, 250, 250, 0.5), rgba(255, 255, 255, 0.5)), url(./imagem/imgBack.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.QuemSomos-conteudo {
    max-width: 80vw;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 30px 0px;
    margin-top: 70px;
}

.QuemSomos-txt h2 {
    color: #032C66;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 79px;
    letter-spacing: -0.015em;
    margin-top: -1rem;
}

.QuemSomos-txt{
    width: 29vw;
    padding-inline: 32px;
}

.QuemSomos-txt p {
    width: 20rem;
    height: 428px;
    color: #1A1A1A;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
}

.cards {
    width: 46vw;
    display: flex;
    margin-top: 4rem;    
}

.missao{
    margin-top: -2.2rem;
    margin-right: 39px;
}

.visao{
    margin-top: 0.2rem;
    margin-right: 39px;
}

.valores{
    margin-top: 2rem;
}

.btnQuemSomos {
    margin-top: -7rem;
}

@media screen and (max-width: 1239px) {
    .QuemSomos-txt h2 {
        font-size: 26px;
    }
    .QuemSomos-txt {
        padding-inline: 20px;
    }

    .QuemSomos-txt p {
        width: 20rem;
    }

    .QuemSomos-conteudo{
        margin-right: 6rem;
    }
    .missao {
        margin-right: 48px;
    }
    .visao {
        margin-right: 45px;
    }

    .btnQuemSomos {
        margin-top: -7.5rem;
    }
}

@media screen and (max-width: 1157px) {
    .QuemSomos-conteudo {
        width: 908px;
    }
    
    .QuemSomos-txt h2 {
        font-size: 25px;
    }
    
    .QuemSomos-txt p {
        width: 313px;
        font-size: 12px;
    }

    .missao, 
    .visao {
        margin-right: 60px;
    }
    
    .QuemSomos-txt p {
        width: 18rem;
    }

    .QuemSomos-txt {
        margin: 0px 5px 0px -50px;
    }
}

@media screen and (max-width: 1128px) {
    .QuemSomos-txt {
        margin: 0px 5px 0px -70px;
    }

    .QuemSomos-txt p {
        width: 293px;   
    }
}

@media screen and (max-width: 1074px) {
    .btnQuemSomos {
        display: none;
    }

    .QuemSomos{
        display: flex;
        height: calc(100vw + 948px);
        background: #EBECEE;
    }
    .QuemSomos-conteudo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        box-shadow: none;
        position: relative;
        margin-top: 6rem;
    }

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .missao {
        margin: 0px;
        padding-bottom: 6rem;
        
    }

    .visao {
        margin: 0px;
        padding-bottom: 6rem;
    }

    .valores {
        margin: 0px;
    }
    
    .QuemSomos-txt {
        margin: 0px 0px 0px 30px;
        margin-right: 7rem;
    }

    .QuemSomos-txt p {
        width: 433px;
        font-size: 14px;
    }

    .QuemSomos-txt h2 {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 769px) {
    .QuemSomos{
        display: flex;
        height: calc(100vw + 1248px);
    }

    .QuemSomos-txt {
        margin-right: 11rem;
    }

    .cards {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 573px) {
    .QuemSomos{
        display: flex;
        height: calc(100vw + 1548px);
    }

    .QuemSomos-conteudo {
        margin-left: -5rem;
        margin-top: -3rem;
    }

    .QuemSomos-txt {
        margin-right: 3rem;
    }

    .QuemSomos-txt p {
        width: 333px;
        font-size: 14px;
        margin-left: 3rem;
    }

    .cards {
        margin-right: -8rem;
    }
}

@media screen and (max-width: 591px){
    .QuemSomos-conteudo {
        margin-right: 14rem;
    }

    .cards {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 414px){
    .cards {
        margin-left: -0.5rem;
    }

    .QuemSomos-txt {
        margin-right: 5rem;
    }
}

@media screen and (max-width: 320px) {
    .QuemSomos-txt p {
        width: 273px;
        font-size: 12px;
    }

    .QuemSomos-txt h2 {
        width: 340px;
        font-size: 20px;
    }

    .QuemSomos-conteudo{
        margin-right: 11rem;
    }

    .cards {
        margin-right: -5rem;
    }    

    .QuemSomos-txt {
    margin-right: 5rem;
    }
}