@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{  
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
scroll-behavior: smooth;
overflow-x: hidden;
}

.contentDepoimento {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 33.6rem;
}

.depoiment-card {
    display: flex;
    flex-direction: column;
    margin: 90px 0px 0px 0px;
    align-items: center;

}

.foto{
  position: relative;
  z-index: 1;
  width: 250px;
  height: 204px;
  background-image: url('../../assets/Rectangle\ 79.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center center;
  border: 3px solid #1B3C74;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 0px;
  margin-top: -3rem;
  margin-left: 3rem;
  
}

.externo {
  width: 240px;
  height: 425px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: #1B3C74;
  border-radius: 15px 15px 15px 0px;
  position: absolute;
  z-index: 0;
}

.descricao {
  width: 220px;
  height: 230px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.nome {
  width: 215px;
  height: 34px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #EBECEE;
  text-align: left;
}

@media screen and (max-width: 1090px) {
  .contentDepoimento {
    
    margin: 0px;
    
}

}