@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.service-page-container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1B3C74;
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 781px) {
    .service-page-title{
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-style: normal;
        font-weight: bold;
        font-size: medium;
        text-align: center;
        letter-spacing: -0.015em;
        color: #EBECEE;
    }

    .carrossel-service-page{
        padding: 10px 100px;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 780px) {
    .service-page-title{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        letter-spacing: -0.015em;
        color: #EBECEE;
    }

    .carrossel-service-page{
        padding: 10px 30px;
        box-sizing: border-box;
    }

}

.service-page-container .slick-active { 
    padding: 20px 0; 
  }
  
  .service-page-container .slick-center { 
    transform: scale(1.05);
  }
  
  .service-page-container .slick-slide:not(.slick-active) { 
    margin: 20px 0; 
  }
  
  .service-page-container .child { 
    width:100%; 
  }
  
  .service-page-container .slide:not(.slick-active) { 
    cursor: pointer; 
  }

  .service-page-container .slick-slide.slick-active{
      display: flex !important;
      justify-content: center !important;
  }

  .service-page-container .slick-slide.slick-active.slick-center.slick-current{
    display: flex;
    justify-content: center;
}

.service-page-container .slick-dots li button:before {
    
    content: url("./assets/marcadorbranco.png") !important;
    
}

.service-page-container .slick-prev:before {
    content: url("./assets/spebranca.png") !important;
   
}

.service-page-container .slick-next:before {
    content: url("./assets/spdbranca.png") !important;
}

.service-page-container .slick-arrow button{
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    cursor: pointer;
    margin-top: 8rem;
}

.service-page-container .slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-page-container .slick-slider {
    display: flex;
    justify-content: center;
}

.service-page-container.slick-servico .slick-center {
    width: 950px!important;
    height: 100%!important;
}



.service-page-container .slick-arrow {
    align-items: center;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    z-index: 2;
}

.service-page-container.slick-active .slick-dot {
    height: 5px;
}


.service-page-container.slick-slider{ 
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.service-page-container.slick-list { 
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  
}
.service-page-container.slick-slider .slick-track,
.service-page-container.slick-slider .slick-list{ 
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.service-page-container .slick-track{
  position: relative;
  left: 0;
  top: 0;
  display: block
}

.service-page-container .slick-prev,
.service-page-container .slick-next { 
  position: absolute;
  display: block;
  height: 20px;
  width: 57vw;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 103%;
  -webkit-transform: translate(0, -20%);
  -ms-transform: translate(0, 90%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.service-page-container .slick-dots {
    display: flex!important;
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.service-page-container .slick-dots li { 
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 1104px){
    .service-page-container .slick-prev, .service-page-container .slick-next {
        width: 53vw;
    }
    
}

@media (max-width: 968px){
    .service-page-container .slick-prev, .service-page-container .slick-next {
        width: 49vw;
    }
    
}

@media (max-width: 876px){
    .service-page-container .slick-prev, .service-page-container .slick-next {
        width: 45vw;
    }
    
}

@media (max-width: 768px){
    .service-page-container .slick-prev, .service-page-container .slick-next {
        width: 30vw;
    }
    
}

@media (max-width: 500px){
    .service-page-container .slick-prev, .service-page-container .slick-next {
        width: 5vw;
        height: 23vh;
    }
}

@media (max-width: 320px){
    .service-page-container{
        height: calc(100vh + 110px);
    }
}


