@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 342px;
    height: 508px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-gap: 29px;
    background: #1B3C74;
    border-radius: 15px 15px 0px 15px;
}

.card h3 {
    width: 344px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.015em;
}

.card p {
    width: 318px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.015em;
    text-align: left;
    margin: 0 auto;
}

.card-img {
    width: 342px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}