@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.card {
    display: flex;
    padding: 10px;
    width: 15vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #1B3C74;
    border-radius: 15px 15px 0px 15px;
    border: 2px solid #FFFFFF;
    padding: 1rem 0.5rem;
    max-width: 720px;
    
}

.content h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.content p {
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    line-height: 20px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #FFFFFF;
}

.icon {
    width: 110px;
    height: 110px;
    margin: 12px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 100%;
}

